<div class="jumbotron">
  <h1>Mascotas</h1>
  <p>Registrar tus mascotas para compartirlas por la web :) </p>
  <p><a class="btn btn-primary btn-lg" href="/registrarUsuario" role="button">Registrar Usuario</a></p>
</div>